/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    text-align: center;
    color: #000;
    font-family: 'Reem Kufi', sans-serif;
}

main {
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
}

a {
    text-decoration: none;
    color: #fff;
}

#topo {
    font-family: 'Lato';
    font-weight: bold;
    width: 100%;
    height: 25px;
    background-color: #fff;
}

#sociais_topo {
    position: relative;
    margin-left: 5%;
}

#sociais_topo img {
    float: left;
    margin-left: 15px;
}

#facetopo {
    margin-top: 4px;
}

#telefone {
    position: relative;
    float: left;
    margin-left: 40%;
    margin-top: 8px;
}

#whats {
    position: relative;
    float: left;
    margin-left: 5%;
    margin-top: 8px;
}

#icones {
    margin-right: 5%;
}

#icones img {
    float: right;
    margin-right: 50px;
}

#menu {
    position: relative;
    clear: left;
    width: 100%;
    height: 90px;
    background-color: #000;
}

#menu img {
    position: relative;
    float: left;
    margin-top: 15px;
    margin-left: 3%;
}

#menu_superior {
    position: relative;
    float: left;
    width: 80%;
    color: #fff;
    font-family: 'Yanone Kaffeesatz';
    font-size: 30px;
}

#menu_superior a {
    position: relative;
    float: left;
    margin-left: 5%;
    margin-top: 35px;
}

#menu_superior a:hover {
    color: #EEB44C;
    border-bottom: #EEB44C solid 3px;
    transition: 0.5s border;
}

#menu_superior p:hover {
    color: #EEB44C;
    border-bottom: #EEB44C solid 3px;
    transition: 0.5s border;
}

#vestuario {
    position: relative;
    float: left;
    margin-left: 60%;
    margin-top: 35px;
}

#categorias {
    position: relative;
    float: left;
    margin-left: 5%;
    margin-top: 35px;
}

#menu_vestuario {
    position: absolute;
    width: 100%;
    height: 200px;
    clear: left;
    background-color: #f9f9f9;
    visibility: hidden;
    z-index: 2;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: #dbdbdb solid 2px;
}

#menu_vestuario p {
    position: relative;
    color: #000;
    font-family: 'Yanone Kaffeesatz';
    font-size: 25px;
    font-style: italic;
    margin: auto;
}

#menu_vestuario img {
    position: relative;
    width: 150px;
    height: 150px;
}

#camisetas_vestuario {
    position: relative;
    float: left;
    margin-left: 45%;
}

#moletons_vestuario {
    position: relative;
    float: left;
    margin-left: 5%;
}

#calcas_vestuario {
    position: relative;
    float: left;
    margin-left: 5%;
}

#menu_categorias {
    position: absolute;
    width: 100%;
    height: 200px;
    clear: left;
    background-color: #f9f9f9;
    visibility: hidden;
    z-index: 2;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: #dbdbdb solid 2px;
}

#menu_categorias p {
    position: relative;
    color: #000;
    font-family: 'Yanone Kaffeesatz';
    font-size: 25px;
    font-style: italic;
    margin: auto;
}

#menu_categorias img {
    position: relative;
    width: 150px;
    height: 150px;
}

#mulher_categorias {
    position: relative;
    float: left;
    margin-left: 70%;
}

#homem_categorias {
    position: relative;
    float: left;
    margin-left: 5%;
}

#banner {
    position: relative;
    width: 1200px;
    height: 500px;
    margin-top: 20px;
}

#fundo {
    position: relative;
    width: 90%;
    height: auto;
    margin: auto;
    background-color: #fff;
}

#menu_lateral {
    position: relative;
    width: 20%;
    height: auto;
    background-color: #fff;
    color: #000;
    margin-top: 5%;
}

#menu_lateral a {
    width: 55%;
    background-color: #fff;
    text-align: left;
    padding-left: 5%;
    padding-top: 10px;
    height: 20px;
    display: block;
    text-decoration: none;
    color: #c3c3c3;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 2px solid #bbb;
    padding: 5px;
}

#menu_lateral a:hover {
    color: #EEB44C;
    border-bottom: #EEB44C solid 3px;
    transition: 0.5s border;
}

.efeitoimg:hover {
    top: -4px;
    box-shadow: 0 4px 4px #999;
    transition: all .2s ease-in-out
}

p img:hover {
    top: -4px;
    box-shadow: 0 4px 4px #999;
    transition: all .2s ease-in-out
}

#fundo_tela {
    position: relative;
    float: right;
    width: 80%;
    height: auto;
    background-color: #fff;
}

#camisetas1 {
    position: relative;
    float: left;
    margin: 0%;
    text-align: left;
}

.camisetas1 {
    position: relative;
    font-size: 60px;
    font-weight: 700;
    color: #000;
}

#camisetas1 article h1 {
    font-family: 'Reem Kufi';
    font-size: 35px;
}

#camisetas1 article div {
    position: relative;
    margin-right: 40px;
    margin-top: 80px;
    position: relative;
    top: 0
}

#camisetas1 article div:hover {
    top: -4px;
    box-shadow: 0 4px 4px #999;
    transition: all .2s ease-in-out
}

#camisetas1 article h4 {
    font-family: 'Lato';
    font-size: 25px;
}

button {
    margin-top: 22px;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #EEB44C;
    box-shadow: 0px 15px 20px #ccc;
    color: #fff;
    transform: translateY(-7px);
}

button:active {
    transform: translateY(-1px);
}

#camisetas2 {
    position: relative;
    float: left;
    margin-top: 5%;
    margin-bottom: 0%;
    text-align: left;
}

.camisetas2 {
    position: relative;
    font-size: 60px;
    font-weight: 700;
    color: #000;
}

#camisetas2 article h1 {
    font-family: 'Reem Kufi';
    margin-top: 200px;
    font-size: 35px;
    margin-left: 40px;
}

#camisetas2 article div {
    position: relative;
    margin-right: 40px;
    margin-top: 80px;
    position: relative;
    top: 0
}

#camisetas2 article div:hover {
    top: -4px;
    box-shadow: 0 4px 4px #999;
    transition: all .2s ease-in-out
}

#camisetas2 article h4 {
    font-family: 'Lato';
    font-size: 25px;
}

#camisetas3 {
    position: relative;
    float: left;
    margin-top: 5%;
    margin-bottom: 0%;
    text-align: left;
}

.camisetas3 {
    position: relative;
    font-size: 60px;
    font-weight: 700;
    color: #000;
}

#camisetas3 article h1 {
    font-family: 'Reem Kufi';
    margin-top: 200px;
    font-size: 35px;
    margin-left: 40px;
}

#camisetas3 article div {
    position: relative;
    margin-right: 40px;
    margin-top: 80px;
    position: relative;
    top: 0
}

#camisetas3 article div:hover {
    top: -4px;
    box-shadow: 0 4px 4px #999;
    transition: all .2s ease-in-out
}

#camisetas3 article h4 {
    font-family: 'Lato';
    font-size: 25px;
}

#camisetas4 {
    position: relative;
    float: left;
    margin-top: 5%;
    margin-bottom: 0%;
    text-align: left;
}

.camisetas4 {
    position: relative;
    font-size: 60px;
    font-weight: 700;
    color: #000;
}

#camisetas4 article h1 {
    font-family: 'Reem Kufi';
    margin-top: 200px;
    font-size: 35px;
    margin-left: 40px;
}

#camisetas4 article div {
    position: relative;
    margin-right: 40px;
    margin-top: 80px;
    position: relative;
    top: 0
}

#camisetas4 article div:hover {
    top: -4px;
    box-shadow: 0 4px 4px #999;
    transition: all .2s ease-in-out
}

#camisetas4 article h4 {
    font-family: 'Lato';
    font-size: 25px;
}

#moletons1 {
    position: relative;
    float: left;
    margin: 0%;
    margin-top: 2%;
    text-align: left;
}

.moletons1 {
    position: relative;
    font-size: 60px;
    font-weight: 700;
    color: #000;
}

#moletons1 article h1 {
    font-family: 'Reem Kufi';
    font-size: 35px;
}

#moletons1 article div {
    position: relative;
    margin-right: 40px;
    margin-top: 80px;
    position: relative;
    top: 0
}

#moletons1 article div:hover {
    top: -4px;
    box-shadow: 0 4px 4px #999;
    transition: all .2s ease-in-out
}

#moletons1 article h4 {
    font-family: 'Lato';
    font-size: 25px;
}

#moletons2 {
    position: relative;
    float: left;
    margin: 0%;
    text-align: left;
}

.moletons2 {
    position: relative;
    font-size: 60px;
    font-weight: 700;
    color: #000;
}

#moletons2 article h1 {
    font-family: 'Reem Kufi';
    font-size: 35px;
}

#moletons2 article div {
    position: relative;
    margin-right: 40px;
    margin-top: 80px;
    position: relative;
    top: 0
}

#moletons2 article div:hover {
    top: -4px;
    box-shadow: 0 4px 4px #999;
    transition: all .2s ease-in-out
}

#moletons2 article h4 {
    font-family: 'Lato';
    font-size: 25px;
}

#moletons3 {
    position: relative;
    float: left;
    margin: 0%;
    text-align: left;
}

.moletons3 {
    position: relative;
    font-size: 60px;
    font-weight: 700;
    color: #000;
}

#moletons3 article h1 {
    font-family: 'Reem Kufi';
    font-size: 35px;
}

#moletons3 article div {
    position: relative;
    margin-right: 40px;
    margin-top: 80px;
    position: relative;
    top: 0
}

#moletons3 article div:hover {
    top: -4px;
    box-shadow: 0 4px 4px #999;
    transition: all .2s ease-in-out
}

#moletons3 article h4 {
    font-family: 'Lato';
    font-size: 25px;
}

#moletons4 {
    position: relative;
    float: left;
    margin: 0%;
    text-align: left;
}

.moletons4 {
    position: relative;
    font-size: 60px;
    font-weight: 700;
    color: #000;
}

#moletons4 article h1 {
    font-family: 'Reem Kufi';
    font-size: 35px;
}

#moletons4 article div {
    position: relative;
    margin-right: 40px;
    margin-top: 80px;
    position: relative;
    top: 0
}

#moletons4 article div:hover {
    top: -4px;
    box-shadow: 0 4px 4px #999;
    transition: all .2s ease-in-out
}

#moletons4 article h4 {
    font-family: 'Lato';
    font-size: 25px;
}

#calcas1 {
    position: relative;
    float: left;
    margin: 0%;
    margin-top: 2%;
    text-align: left;
}

.calcas1 {
    position: relative;
    font-size: 60px;
    font-weight: 700;
    color: #000;
}

#calcas1 article h1 {
    font-family: 'Reem Kufi';
    font-size: 35px;
}

#calcas1 article div {
    position: relative;
    margin-right: 40px;
    margin-top: 80px;
    position: relative;
    top: 0
}

#calcas1 article div:hover {
    top: -4px;
    box-shadow: 0 4px 4px #999;
    transition: all .2s ease-in-out
}

#calcas1 article h4 {
    font-family: 'Lato';
    font-size: 25px;
}

#calcas2 {
    position: relative;
    float: left;
    margin: 0%;
    margin-top: 2%;
    text-align: left;
}

.calcas2 {
    position: relative;
    font-size: 60px;
    font-weight: 700;
    color: #000;
}

#calcas2 article h1 {
    font-family: 'Reem Kufi';
    font-size: 35px;
}

#calcas2 article div {
    position: relative;
    margin-right: 40px;
    margin-top: 80px;
    position: relative;
    top: 0
}

#calcas2 article div:hover {
    top: -4px;
    box-shadow: 0 4px 4px #999;
    transition: all .2s ease-in-out
}

#calcas2 article h4 {
    font-family: 'Lato';
    font-size: 25px;
}

#calcas3 {
    position: relative;
    float: left;
    margin: 0%;
    margin-top: 2%;
    text-align: left;
}

.calcas3 {
    position: relative;
    font-size: 60px;
    font-weight: 700;
    color: #000;
}

#calcas3 article h1 {
    font-family: 'Reem Kufi';
    font-size: 35px;
}

#calcas3 article div {
    position: relative;
    margin-right: 40px;
    margin-top: 80px;
    position: relative;
    top: 0
}

#calcas3 article div:hover {
    top: -4px;
    box-shadow: 0 4px 4px #999;
    transition: all .2s ease-in-out
}

#calcas3 article h4 {
    font-family: 'Lato';
    font-size: 25px;
}

#calcas4 {
    position: relative;
    float: left;
    margin: 0%;
    margin-top: 2%;
    text-align: left;
}

.calcas4 {
    position: relative;
    font-size: 60px;
    font-weight: 700;
    color: #000;
}

#calcas4 article h1 {
    font-family: 'Reem Kufi';
    font-size: 35px;
}

#calcas4 article div {
    position: relative;
    margin-right: 40px;
    margin-top: 80px;
    position: relative;
    top: 0
}

#calcas4 article div:hover {
    top: -4px;
    box-shadow: 0 4px 4px #999;
    transition: all .2s ease-in-out
}

#calcas4 article h4 {
    font-family: 'Lato';
    font-size: 25px;
}

#calcados1 {
    position: relative;
    float: left;
    margin: 0%;
    margin-top: 2%;
    text-align: left;
}

.calcados1 {
    position: relative;
    font-size: 60px;
    font-weight: 700;
    color: #000;
}

#calcados1 article h1 {
    font-family: 'Reem Kufi';
    font-size: 35px;
}

#calcados1 article div {
    position: relative;
    margin-right: 40px;
    margin-top: 80px;
    position: relative;
    top: 0
}

#calcados1 article div:hover {
    top: -4px;
    box-shadow: 0 4px 4px #999;
    transition: all .2s ease-in-out
}

#calcados1 article h4 {
    font-family: 'Lato';
    font-size: 25px;
}

#calcados2 {
    position: relative;
    float: left;
    margin: 0%;
    margin-top: 2%;
    text-align: left;
}

.calcados2 {
    position: relative;
    font-size: 60px;
    font-weight: 700;
    color: #000;
}

#calcados2 article h1 {
    font-family: 'Reem Kufi';
    font-size: 35px;
}

#calcados2 article div {
    position: relative;
    margin-right: 40px;
    margin-top: 80px;
    position: relative;
    top: 0
}

#calcados2 article div:hover {
    top: -4px;
    box-shadow: 0 4px 4px #999;
    transition: all .2s ease-in-out
}

#calcados2 article h4 {
    font-family: 'Lato';
    font-size: 25px;
}

#calcados3 {
    position: relative;
    float: left;
    margin: 0%;
    margin-top: 2%;
    text-align: left;
}

.calcados3 {
    position: relative;
    font-size: 60px;
    font-weight: 700;
    color: #000;
}

#calcados3 article h1 {
    font-family: 'Reem Kufi';
    font-size: 35px;
}

#calcados3 article div {
    position: relative;
    margin-right: 40px;
    margin-top: 80px;
    position: relative;
    top: 0
}

#calcados3 article div:hover {
    top: -4px;
    box-shadow: 0 4px 4px #999;
    transition: all .2s ease-in-out
}

#calcados3 article h4 {
    font-family: 'Lato';
    font-size: 25px;
}

#calcados4 {
    position: relative;
    float: left;
    margin: 0%;
    margin-top: 2%;
    text-align: left;
}

.calcados4 {
    position: relative;
    font-size: 60px;
    font-weight: 700;
    color: #000;
}

#calcados4 article h1 {
    font-family: 'Reem Kufi';
    font-size: 35px;
}

#calcados4 article div {
    position: relative;
    margin-right: 40px;
    margin-top: 80px;
    position: relative;
    top: 0
}

#calcados4 article div:hover {
    top: -4px;
    box-shadow: 0 4px 4px #999;
    transition: all .2s ease-in-out
}

#calcados4 article h4 {
    font-family: 'Lato';
    font-size: 25px;
}

footer {
    clear: both;
    position: relative;
    background-color: #000;
    width: 100%;
    height: 700px;
    top: 100px;
}

#quem_somos h1 {
    font-family: 'Reem Kufi';
    font-size: 30px;
}

#logo_rodape {
    position: absolute;
    z-index: 2;
    margin-top: 10px;
    margin-left: 20px;
}

#quem_somos {
    margin-top: 170px;
    margin-left: 50px;
    text-align: left;
    font-family: 'Lato';
    position: absolute;
    width: 20%;
    z-index: 2;
    color: #fff;
    font-size: 20px;
    float: left;
}

#conteudo {
    margin-top: 170px;
    margin-left: 700px;
    text-align: left;
    font-family: 'Lato';
    position: absolute;
    width: 20%;
    z-index: 2;
    color: #fff;
    font-size: 20px;
    float: left;
}

#conteudo h1 {
    font-family: 'Reem Kufi';
    font-size: 30px;
}

#categorias2 {
    margin-top: 160px;
    margin-left: 1300px;
    text-align: left;
    font-family: 'Lato';
    position: absolute;
    width: 10%;
    z-index: 2;
    color: #fff;
    font-size: 20px;
    float: left;
}

#categorias2 h1 {
    font-family: 'Reem Kufi';
    font-size: 30px;
}

#f img {
    position: absolute;
    z-index: 2;
    float: left;
    margin-top: 14px;
    margin-left: 640px;
}

#i img {
    position: absolute;
    z-index: 2;
    float: left;
    margin-top: 1px;
    margin-left: 560px;
}
#p:hover {
    color: #EEB44C;
}